* {
     box-sizing: border-box;
     padding: 0;
     margin: 0
   }
   body {
     font-family: sans-serif;
     
   }
     div.qrs {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
       gap: 20px;
      width: 90%;
      max-width: 1200px;
        margin: 20px auto;
        
     }
     div.qrs div {
       width: 100%;
       display: flex;
       flex-flow: column nowrap;
       justify-content: center; 
       align-items: center; 
     }
     
     div.qrs div span {
       display: none; 
       width: 15px;
       height: 15px;
       border-radius: 50%;
       background-color: #000;
       margin: 20px 0;
     }
     
     div.qrs div h2{
       font-size: 10px;
       text-align: center;
       width: 100%;
       padding-bottom: 5px;
     }
     div.qrs div canvas {
       width: 100%;
     }
     
     @media print{
       input {
         display: none; 
       }
       div.qrs {
         width: 100%;
         margin: 0;
       }
       script:first-child {
         display: none;
       }
     }